@import "bootstrap";
@import "menu";
@import "resets";
@import "portfolio";
@import "hover-effects";
@import "masonry";
@import "engage";

/* Hero Section*/

section.hero {
    background-color: #4e93e6;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    height: 1300px;
    overflow: hidden;
}
section.hero .inner-hero {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.header .right-part {
    float: right;
}
.header .left-part {
    float: left;
}
.header .logo {
    display: block;
    margin-left: 40px;
    margin-top: 40px;
    position: relative;
    z-index: 1;
}
.header .short-contact {
    display: block;
    margin-right: 40px;
    margin-top: 45px;
    position: relative;
    z-index: 1;
}
.header .short-contact li {
    display: inline-block;
}
.header .short-contact li:first-child a {
    opacity: .5;
}
.header .short-contact li:first-child a:hover {
    opacity: 1;
}
.header .short-contact li:last-child a {
    margin-left: 30px;
}
.header .short-contact a {
    color: #fafafa;
}
.header .logo h2,
.footer .logo h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #fafafa;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.10);
}
.hero-content {
    color: #ffffff;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.hero-content .profile-img img {
    width: 250px;
    height: 250px;
}
.hero-content .profile-img img {
    border: 10px solid #fafafa;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .20);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .20);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .20);
    -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, .20);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, .20);
}
.hero-content .profile-name h2 {
    font-size: 30px;
    color: #fafafa;
    text-transform: uppercase;
    position: relative;
}
.hero-content .profile-name h2 span {
    font-size: 14px;
    display: block;
    text-transform: none;
    margin-top: 1px;
    color: #ffffff;
}
/* End hero section*/
